@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/styles/globals.css */
nav {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #0070f3;
  }
  

  body::-webkit-scrollbar {
    width: 11px;
  }
  body::-webkit-scrollbar-track {
      background-color:#bfdbfe ;
  }
  body::-webkit-scrollbar-thumb {
      background: #3b82f6;
  }

  html {
    scroll-behavior: smooth;
  }
  